# Ignore bundler config.
/.bundle

# Ignore RubyMine config.
/.idea

# Ignore test coverage reports.
/coverage/

# Ignore all logfiles and tempfiles.
/log/
/spec/examples.txt
/tmp/

# Other
.DS_Store
